In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector as connector

In [ ]:
connection = connector.connect(user = "root", password = "1234567" db ='little_lemon_db')

In [ ]:
cursor = execute("USE little_lemon_db")

In [ ]:
show_tables_query = "SHOW tables"

In [ ]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

In [ ]:
join_query = """
SELECT 
Bookings.BookingID,
Bookings.TableNo,
Bookings.GuestFirstName,
Orders.BillAmount AS TotalCost
FROM Bookings
LEFT JOIN Orders ON Bookings.BookingID = Orders.BookingID
WHERE Orders.BillAmount > 60
"""

In [ ]:
cursor.execute(join_query)

In [ ]:
results = cursor.fetchall()

In [ ]:
print(cursor.column_names)
print(results)